<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ static('css/login_style.css') }}" rel="stylesheet">
</head>    
<body>    
    <form method="post" action="login">   
        <div class="container">
            <h1>Login</h1>
            <hr>
            <label for="username"><b>Username</b></label>    
            <input type="text" name="username" id="username" placeholder="Enter Username" title="Must contain 3-20 characters" required />    
            <label for="password"><b>Password</b></label>    
            <input type="password" name="password" id="password" placeholder="Enter Password" required />     
            <hr>
            <input type="hidden" name="{{ field_name }}" value="{{ token }}" />
            <button type="submit_button" class="submit_button">Login</button>   
          </div>
            <div class="container signin">
              <input type="checkbox" id="check" name="remember">
                <span>Remember me </span><p></p>
                <p>Do not have an account? <a href="/register" style="font-size: 18px;">Register</a></p>
                <a href="/recover"  style="font-size: 18px;">Forgot password</a>    
            </div>               
            </div>
        </div>
    </form>     
</div>    
{% if alert %}
    <script type="text/javascript">
    alert( {{ reason }} );
    </script> 
{% endif %}
</body>    
</html>   