<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="chat_style.css" type="text/css" rel="stylesheet"/>
    <link href="{{ static('css/chat_style.css') }}" rel="stylesheet">

</head>
<body>

    <form align="right" method="post" action="logout">
        <input type="submit" class="signoutButton" value="Sign out">
    </form>

<br><br><br>

<div class="container">
    <br>
    {%  for msg in msgs %}
    <fieldset>
    <legend>{{  msg[1] }}</legend>
    <p style="word-break: break-all">{{  msg[2] }}</li>
    <p align="right">{{ msg[3] }}</p>
    <p align="right">Message id: {{ msg[0] }}</p>
    </fieldset>
    <br><br>
    {% endfor %}
</div>

<br><br><br><br><br><br>

<div class="container">
    <p>
        <form method="post" action="send">
            <textarea type="message" name="message" wrap="off" minlength="2" maxlength="2000" cols="117" align="center" rows="15" tabindex="101" placeholder="Remember be polite!" autocomplete="off" spellcheck="true" required></textarea>            
            <br><br>
            <input type="submit" class="button" value="Send">
        </form>       
    </p>
</div>
{% if error %}
<script type="text/javascript">
  alert('Wait 30 seconds before sending another message');
</script> 
{% endif %}
</body>
</html>