body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4caf50;
}

* {
  box-sizing: border-box;
}

input[type="message"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 18px;
}

.messages {
  font-size: 14px;
  padding: 10px 20px;
}

.container {
  padding: 16px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  font-size: 18px;
}

.textbox {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
}

.signout-button {
  background-color: white;
  padding: 10px 12px;
  text-align: center;
  width: 100;
  height: 50;
  opacity: 0.9;
  right: 10px;
  top: 5px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  opacity: 0.9;
}
