<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="chat_style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    

    <form align="right" name="form1" method="post" action="logout">
        <input class="signout" name="submit2" type="submit" id="submit2" value="Sign out">
    </form>

<br><br><br>

    <link href="{{ static('css/chat_style.css') }}" rel="stylesheet">


<div class="container">
    {%  for msg in msgs %}
    <ul>
        <li>From: {{  msg[1] }}</li>
        <li>Message: {{  msg[2] }}</li>
        <li>Time sent: {{ msg[3] }}</li>
        <li>Message id: {{ msg[0] }}</li>
    </ul>
    {% endfor %}
</div>

<br><br><br><br><br><br><br><br><br><br><br>

<div class="container">
    <p>
        <form id="post" method="post" action="send">   
            <textarea type="message" name="post-message" cols="137" align="center" rows="15" tabindex="101" placeholder="Type your messsage here" id="message" autocomplete="off"></textarea>            
            <br>
            <input type="submit" class="button"  id='submit' value="Send">
        </form>
        
       
    </p>
</div>

</div>
</body>
</html>