<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="chat_style.css" type="text/css" rel="stylesheet"/>
    <link href="{{ static('css/chat_style.css') }}" rel="stylesheet">

</head>
<body>

    <form align="right" method="post" action="logout">
        <input type="submit" class="signoutButton" value="Sign out">
    </form>

<br><br><br>

<div class="container">
    {%  for msg in msgs %}
    <ul>
        <li>From: {{  msg[1] }}</li>
        <li>Message: {{  msg[2] }}</li>
        <li>Time sent: {{ msg[3] }}</li>
        <li>Message id: {{ msg[0] }}</li>
    </ul>
    {% endfor %}
</div>

<br><br><br><br><br><br>

<div class="container">
    <p>
        <form method="post" action="send">   
            <textarea type="message" name="message" maxlength="2000" cols="207" align="center" rows="15" tabindex="101" placeholder="Type your messsage here ..." autocomplete="off"></textarea>            
            <br>
            <input type="submit" class="button" value="Send">
        </form>       
    </p>
</div>

</div>
</body>
</html>